{% extends "layout.html" %}
{% block body %}
<div style="margin-top:100px;margin-bottom:100px;"    class="container">
        <div class="col-md-6 col-md-push-2">
                <div class="jumbotron-textcenter">
                <h2>Über mich</h2>
                <hr>
	        <img  class="d-flex mr-3 rounded-circle" src="/static/img/resmim.jpg" width="150" height="150" align="left">
	                <div class="media-body">
                    <p>
                    Hallo, mein Name ist Ekrem Akbuga.Ich bin 32 Jahre alt,verheiratet und habe einen Sohn.Ich habe in der Türkei Mathematik
                    studiert und nach dem Studium an zwei Gymnasien als Mathematiklehrer gearbeitet.Ich schloss an der Universität
                    Canakkale 18 Mart in der Türkei mit dem Master Mathematik ab.Ich habe einen sehr hochwertigen Data Science mit Python-Kursen
                    (Pandas,Numpy.Machinelles Lernen,etc.) bei Udemy und Coursera Online Platform wie Udacity besucht,erfolgreich abgeschlossen
                    und Zertifikate erworben. Ich habe leider keine anderen Erfahrungen.Das ist mein Projekt über Flask,Python BlogSeite.
                    </p>
                    <hr>
	                </div>
                        
	        	</div>
        </div>
</div> 
{% endblock %}