{% extends "layout.html" %}
{% block body %}
<br><br><br><br>
{% if articles %}
<form action="/search" method="POST">
  <input type="text" name="keyword" class="input-sm" maxlength="64" placeholder="Suchen Sie...">
  <button type="submit" class="btn btn-danger">Suche...</button>

</form>
<hr>
<ul class="list-group">
  {% for article in articles  %}
  <li class="list-group-item"><a href="/article/{{article.id}}">{{article.title}}</a></li>
  {% endfor %}
</ul>
{% else %}
<div class= "alert alert-danger"> Es gibt noch keine Artikel in dieser Blog-Seite ...</div>
{% endif %}



{% endblock %}
